$theme-color: rgb(188, 188, 255);

.header-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.header-title {
    display: block;
    font-size: 25px;
}

.header-option-block {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.header-button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.header-button:hover {
    background-color: rgba(0,0,0,.1);
}

.header-button-span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.error-icon {
    width: 20px;
    height: 20px;
    color: red;
    margin-left: 5px;
}