$theme-color: rgb(188, 188, 255);

.header-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    z-index: 1;
}

.header-title {
    display: block;
    font-size: 25px;
}

.header-option-block {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.header-icon-button {
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 3px;
}

.gone {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.div-divider {
    border-left: .5px solid rgb(100,100,100);
    margin-left: 10px;
    margin-right: 10px;
    height: 15px;
}

.header-button:hover {
    background-color: rgba(0,0,0,.1);
}

.header-button-selected {
    background-color: rgba(0,0,0,.2);
}

.header-button-span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.error-icon {
    width: 20px;
    height: 20px;
    color: red;
    margin-left: 5px;
}

.tools-menu-root {
    position: absolute;
    top: 35px;
    right: 0px;
    background-color: white;
}

.tool-menu-option {
    padding: 4px;
}