.page-design-root {
    background-color: white;
    padding: 5px;
    position: relative;
    flex-grow: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.slate-editable {
    padding: 15px;
    flex-grow: 1;
    min-height: 0px;
    overflow-y: auto;
    scrollbar-gutter: stable;
}