.media-parent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.media-child {
    border: 1px dashed rgb(200, 200, 200);
    position: relative;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.media-child-selected {
    border: 1px solid blue;
}

.small {
    width: 250px;
    height: 250px;
}

.medium {
    width: 400px;
    height: 400px;
}

.large {
    width: 750px;
    height: 750px;
}

.missing-media-icon {
    width: 30px;
    height: 30px;
    color: rgba(0,0,0,.3);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.media-toolbar {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: white;
    box-shadow: 0px 0px 1px black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.media-tool-button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.media-tool-icon:hover, .media-tool-icon-small:hover {
    background-color: rgb(200,200,200);
}

.media-tool-icon {
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 3px;
}

.media-tool-icon-small {
    width: 15px;
    height: 15px;
    padding: 3px;
    border-radius: 3px;
}