.media-parent {
    display: flex;
    flex-direction: column;
}

.media-parent-image-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.media-child-with-caption {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-child {
    position: relative;
    cursor: pointer;
    max-width: 100%;
}

.media-child-no-content {
    border: 1px dashed rgb(200, 200, 200);
}

.selected {
    background-color: rgb(200,200,200) !important;
}

.media-child-selected {
    border: 1px solid blue;
}

$x-small-width: 335px;
$x-small-height: 335px;

$small-width: 400px;
$small-height: 400px;

$medium-width: 506px;
$medium-height: 506px;

$large-width: 800px;
$large-height: 800px;

$x-large-width: 1125px;
$x-large-height: 800px;

.x-small-box {
    max-width: min($x-small-width, 100%)
}
.x-small-pannellum, .x-small {
    max-width: 100%;
    width: $x-small-width;
    height: $x-small-height;
}

.small-box {
    max-width: min($small-width, 100%);
}
.small-pannellum, .small {
    max-width: 100%;
    width: $small-width;
    height: $small-height;
}

.medium-box {
    max-width: min($medium-width, 100%);
}
.medium-pannellum, .medium {
    max-width: 100%;
    width: $medium-width;
    height: $medium-height;
}

.large-box {
    max-width: min($large-width, 100%);
}
.large-pannellum, .large {
    max-width: 100%;
    width: $large-width;
    height: $large-height;
}

.x-large-box {
    max-width: min($x-large-width, 100%);
}
.x-large-pannellum, .x-large {
    max-width: 100%;
    width: $x-large-width;
    height: $x-large-height;
}

.missing-media-icon {
    width: 30px;
    height: 30px;
    color: rgba(0,0,0,.3);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.media-toolbar, .media-toolbar-2nd-row, .media-toolbar-3rd-row, .media-toolbar-4th-row {
    position: absolute;
    right: 10px;
    background-color: white;
    box-shadow: 0px 0px 1px black;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.media-toolbar {
    top: 10px;
}

.media-toolbar-2nd-row {
    top: 45px;
}

.media-toolbar-3rd-row {
    top: 80px;
}

.media-toolbar-4th-row {
    top: 115px;
}

.media-tool-button {
    border: none;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border-radius: 3px;
    max-width: 24px;
}

.media-tool-button-text {
    height: 24px;
    font-size: 18px;
}

.media-tool-icon {
    min-height: 24px;
    min-width: 19px;
}

.media-tool-icon-small {
    min-height: 15px;
}

.media-tool-button:hover {
    background-color: rgb(200,200,200);
}