.media-parent {
    display: flex;
    flex-direction: column;
}

.media-parent-image-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.media-child-with-caption {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-child {
    position: relative;
    cursor: pointer;
}

.media-child-no-content {
    border: 1px dashed rgb(200, 200, 200);
}

.selected {
    background-color: rgb(200,200,200) !important;
}

.media-child-selected {
    border: 1px solid blue;
}

.small-box {
    max-width: 250px;
}

.small-pannellum {
    width: 250px;
    height: 200px;
}

.small {
    width: 250px;
    height: 250px;
}

.medium-box {
    max-width: 400px;
}

.medium-pannellum {
    width: 400px;
    height: 320px;
}

.medium {
    width: 400px;
    height: 400px;
}

.large-box {
    max-width: 750px;
}

.large-pannellum {
    width: 750px;
    height: 600px;
}

.large {
    width: 750px;
    height: 750px;
}

.missing-media-icon {
    width: 30px;
    height: 30px;
    color: rgba(0,0,0,.3);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.media-toolbar, .media-toolbar-2nd-row, .media-toolbar-3rd-row {
    position: absolute;
    right: 10px;
    background-color: white;
    box-shadow: 0px 0px 1px black;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.media-toolbar {
    top: 10px;
}

.media-toolbar-2nd-row {
    top: 45px;
}

.media-toolbar-3rd-row {
    top: 80px;
}

.media-tool-button {
    border: none;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border-radius: 3px;
    max-width: 24px;
}

.media-tool-icon {
    min-height: 24px;
    min-width: 19px;
}

.media-tool-icon-small {
    min-height: 15px;
}

.media-tool-button:hover {
    background-color: rgb(200,200,200);
}