.emphasized-p::first-line {
    color: #25a186;
}
.emphasized-p::first-letter {
    font-size: 50px;
    vertical-align: bottom;
    line-height: .9em;
}

@media screen and (max-width: 600px) {
    .header-container, .content-container {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
}

.header-container, .content-container {
    padding-left: 10%;
    padding-right: 10%;
}

blockquote { 
    background-color: rgb(255, 255, 255); 
    color: rgb(83,130,74); 
    font-style: italic; 
    font-weight: 600; 
    padding: 5px;
} 