.explorer-root {
    min-width: 300px;
    height: calc(100% - 20px); // for padding
    border-right: 1px solid rgba(0,0,0,.1);
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.add-post-button {
    margin-top: 10px;
}