$bc: rgb(206, 206, 206);

.page-list-nothing-parent {
    display: flex;
    justify-content: center;
    padding: 5px 0px 5px 0px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

.page-list-something-parent {
    overflow-y: auto;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.page-list-nothing-span {
    display: block;
    color: rgba(0,0,0,.2);
    font-style: italic;
    font-size: small;
}

.page-list-entry {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 2px;
    cursor: pointer;
    padding: 5px;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    border-bottom: 1px solid rgb(230,230,230);
}

.page-list-entry-selected {
    background-color: rgb(236, 212, 250);
}

.page-list-entry-title {
    font-size: 15px;
    font-style: bold;
    max-width: 300px;
}

.page-list-entry-date {
    font-size: 10px;
    color: rgba(0,0,0,.5)
}