.toggle-button-group-parent {
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.toggle-button-group-parent button {
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.toggle-button-group-parent button:hover{
    border-bottom:3px solid rgb(221, 180, 243);
}

.toggle-button-active {
    background-color: rgb(236, 212, 250);
    border-bottom: 3px solid rgb(221, 180, 243);
}

.toggle-button-inactive {
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.5);
}